{% extends 'base.html.twig' %}

{% block title %}Track index{% endblock %}

{% block body %}
    <div class="col-6 m-auto mt-5">

        <h1>Track index</h1>

        <a class="btn btn-primary mt-3 mb-3" href="{{ path('app_track_new') }}">Create new</a>

        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Duration</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for track in tracks %}
                <tr>
                    <td>{{ track.id }}</td>
                    <td>{{ track.title }}</td>
                    <td>{{ track.duration }}</td>
                    <td>
                        <a class="btn btn-warning" href="{{ path('app_track_show', {'id': track.id}) }}">show</a>
                        <a class="btn btn-danger" href="{{ path('app_track_edit', {'id': track.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}
