{% extends 'base.html.twig' %}

{% block title %}Artist index{% endblock %}

{% block body %}
    <div class="col-6 m-auto mt-5">
        <h1>Artist index</h1>
        <a class="btn btn-primary mt-3 mb-3" href="{{ path('app_artist_new') }}">Create new</a>

        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for artist in artists %}
                <tr>
                    <td>{{ artist.id }}</td>
                    <td>{{ artist.name }}</td>
                    <td>
                        <a class="btn btn-warning" href="{{ path('app_artist_show', {'id': artist.id}) }}">show</a>
                        <a class="btn btn-danger" href="{{ path('app_artist_edit', {'id': artist.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}
